.about-content{
    display: flex;
    flex-direction: column;
    place-content: center;
}

.about-img-wrapper{
    padding-bottom: 0.75rem;
}

/*xs*/
/* @media(min-width: 475px){} */

/*sm*/
/* @media(min-width: 640px){} */

/*md*/
@media(min-width: 768px){
    .about-img-wrapper{
        padding-bottom: 0;
    }
}

/*lg*/
/* @media(min-width: 1024px){} */

/*xl*/
/* @media(min-width: 1280px){} */

/*sxl*/
/* @media(min-width: 1440px){} */